@import "tema";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$josefin: "Josefin Sans", sans-serif;;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

*:focus {
    outline-color: var(--azul);
}

body {
    font-size: 16px;
    background-color: var(--fundo);
    position: relative;
    font-family: $josefin;
}

*::-webkit-scrollbar {
    width: 8px;
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background: var(--azul);
    border: 1px solid rgb(37, 79, 163);
    height: 10px;
    border-radius: 10px;
}

.container {
    display: flex;
    padding: 0 1rem;
    transition: 0.3s ease-in-out;

    @media only screen and (min-width: 768px) {
        padding: 0;
        max-width: 650px;
        margin: 0 auto;
        transition: 0.3s ease-in-out;
    }
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

h1,
p {
    line-height: 1.5;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

.checa {
    width: 22px;
    height: 22px;
    border: 2px solid var(--texto2);
    border-radius: 50%;
    position: relative;

    &.completo {
        background: $check;
        border: none;

        &::after {
            position: absolute;
            content: url("../img/icon-check.svg");
            width: 10px;
            top: 50%;
            left: 50%;
            margin-left: -5px;
            margin-top: -6px;
        }
    }
}

.select {
    select {
        width: 100%;
        border: 1px solid var(--detalhe);
        padding: 12px;
        font-size: 1rem;
        border-radius: 4px;
        color: var(--texto2);
        font-family: $josefin;
        background: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: linear-gradient(45deg, transparent 50%, var(--texto2) 50%),
            linear-gradient(135deg, var(--texto2) 50%, transparent 50%);
        background-position: calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px), 100% 0;
        background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
        background-repeat: no-repeat;

        option {
            background: var(--fundolista);
            border: none;
            color: var(--texto);
        }

        &::-ms-expand {
            display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
        }
    }
}
