@import "tema";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$josefin: "Josefin Sans", sans-serif;;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

*:focus {
    outline-color: var(--azul);
}

body {
    font-size: 16px;
    background-color: var(--fundo);
    position: relative;
}

.container {
    display: flex;
    padding: 0 1rem;
    transition: 0.3s ease-in-out;

    @media only screen and (min-width: 768px) {
        padding: 0;
        max-width: 650px;
        margin: 0 auto;
        transition: 0.3s ease-in-out;
    }
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

h1,
p {
    line-height: 1.5;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

.checa {
    width: 22px;
    height: 22px;
    border: 2px solid var(--texto2);
    border-radius: 50%;
    position: relative;

    &.completo {
        background: $check;
        border: none;

        &::after {
            position: absolute;
            content: url("../img/icon-check.svg");
            width: 10px;
            top: 50%;
            left: 50%;
            margin-left: -5px;
            margin-top: -6px;
        }
    }
}
