main {
    padding: 3rem 0;
    background-color: var(--azul);
    margin-bottom: 24px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    font-family: $josefin;

    .container {
        flex-direction: column;

        .greeting {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: hsl(0, 0%, 98%);

            .hello {
                .user {
                    display: flex;
                    align-items: center;
                    position: relative;

                    #nome {
                        max-width: 160px;
                        margin-top: 4px;
                        font-size: 2rem;
                        font-weight: 700;
                        background: none;
                        border: none;
                        color: #fff;
                        border: 1px solid transparent;
                        transition: border-bottom 0.4s ease-in-out;

                        &:focus {
                            outline: none;
                            border-bottom-color: hsla(185, 100%, 62%, 0.2);
                        }
                    }
                    #animaInput {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 1px;
                        background-color: #2f93ff;
                        transform-origin: bottom right;
                        transform: scaleX(0);
                        transition: transform 0.5s ease;
                    }

                    input:focus ~ #animaInput {
                        transform-origin: bottom left;
                        transform: scaleX(1);
                    }

                    #changename {
                        border-radius: 48px;
                        background: hsl(0, 0%, 98%);
                        color: var(--azul);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        position: relative;
                        opacity: 0.5;
                        transition: width 0.05s ease-in-out;

                        i {
                            padding: 0 6px;
                        }

                        #edita {
                            position: absolute;
                            left: 30px;
                            top: 3px;
                            color: red;
                            font-size: 16px;
                            visibility: hidden;
                            overflow: hidden;
                            width: 0;
                            height: 0;
                            font-weight: 700;
                            color: var(--azul);
                            transition: opacity 0.5s linear;

                            &.abre,
                            &.ativo {
                                display: block;
                                visibility: visible;
                                width: auto;
                                height: auto;
                                overflow: visible;
                                transition: opacity 0.5s linear;
                            }
                        }

                        &.abre,
                        &.ativo {
                            width: 90px;
                            opacity: 1;
                            transition: width 0.5s ease-in-out;
                        }
                    }

                    &:hover #changename {
                        opacity: 1;
                        visibility: visible;
                        transition: 0.3s ease-in-out;
                    }
                }
            }

            #tema {
                width: 46px;
                height: 46px;
                background: url("../img/icon-moon.svg") no-repeat center;

                &.ativo {
                    background: url("../img/icon-sun.svg") no-repeat center;
                }
            }
        }
    }
}
