main {
    padding: 3rem 0;
    background-color: var(--azul);
    margin-bottom: 24px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    font-family: $josefin;

    .container {
        flex-direction: column;

        .greeting {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: hsl(0, 0%, 98%);

            .hello {
                .user {
                    display: flex;
                    align-items: center;

                    #nome {
                        width: auto;
                        max-width: 160px;
                        margin-top: 4px;
                        font-size: 2rem;
                        font-weight: 700;
                        background: none;
                        border: none;
                        color: #fff;
                        transition: border-bottom 0.4s ease-in-out;
                        cursor: pointer;

                        &.ativo {
                            border-bottom: 1px solid #fff;
                            transition: border-bottom 0.4s ease-in-out;
                        }
                    }

                    #changename {
                        margin-left: 12px;
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        background: hsl(0, 0%, 98%);
                        color: var(--azul);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        opacity: 0.4;
                        transition: 0.3s ease-in-out;

                        &.ativo {
                            opacity: 1;
                            visibility: visible;
                            transition: 0.3s ease-in-out;
                        }
                    }

                    &:hover #changename {
                        opacity: 1;
                        visibility: visible;
                        transition: 0.3s ease-in-out;
                    }
                }
            }

            #tema {
                width: 46px;
                height: 46px;
                background: url("../img/icon-moon.svg") no-repeat center;

                &.ativo {
                    background: url("../img/icon-sun.svg") no-repeat center;
                }
            }
        }
    }
}
