body {
    #todo {
        .container {
            .cinput {
                .overlay {
                    .newtask {
                        display: flex;
                        flex-direction: column;
                        margin-top: 32px;

                        #create {
                            padding: 12px;
                            border-radius: 4px 4px 0 0;
                            border: none;
                            border-bottom: 1px solid var(--detalhe);
                            background: none;
                            font-size: 1rem;
                            color: var(--texto);
                            font-family: $josefin;
                            margin-bottom: 2.5rem;

                            &::placeholder {
                                color: var(--texto2);
                            }
                        }
                    }
                }
            }
        }
    }
}
