body {
    #todo {
        .container {
            .cinput {
                #open {
                    position: fixed;
                    bottom: 32px;
                    right: 32px;
                    padding: 10px;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    background-color: var(--azul);
                    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
                    z-index: 8000;

                    i {
                        color: #fff;
                        font-size: 1rem;
                    }
                }

                .overlay {
                    position: fixed;
                    background: var(--fundolista);
                    border-radius: 20px 20px 0 0;
                    width: 100%;
                    height: 500px;
                    left: 0;
                    bottom: 0;
                    z-index: 99999;
                    padding: 20px 30px;
                    transform: translateY(500px);
                    transition: all 0.3s ease-in-out;
                    visibility: hidden;

                    &.ativo {
                        visibility: visible;
                        transform: translateY(0);
                        transition: all 0.3s ease-in-out;
                    }

                    #back {
                        color: var(--texto);
                        padding: 10px 0;

                        span {
                            font-size: 1.2rem;
                            font-family: $josefin;
                        }

                        i {
                            margin-right: 12px;
                            font-size: 1rem;
                        }
                    }

                    .newtask {
                        display: flex;
                        flex-direction: column;
                        margin-top: 32px;

                        select {
                            margin: 2rem 0;
                        }

                        #create {
                            padding: 12px;
                            border-radius: 4px 4px 0 0;
                            border: none;
                            border-bottom: 1px solid var(--detalhe);
                            background: none;
                            font-size: 1rem;
                            color: var(--texto);
                            font-family: $josefin;

                            &::placeholder {
                                color: var(--texto2);
                            }
                        }

                        #post {
                            font-family: $josefin;
                            color: #fff;
                            padding: 1rem 0;
                            font-size: 1.2rem;
                            background: var(--azul);
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }
}
