#todo {
    .container {
        flex-direction: column;

        .cinput {
            margin-bottom: 1.4rem;
            padding: 16px;
            border-radius: 6px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #create {
                width: 100%;
                background: none;
                border: none;
                color: var(--texto);
                padding: 6px 4px;
                font-family: "Josefin Sans", sans-serif;
                font-size: 1rem;

                &::placeholder {
                    color: var(--texto2);
                }
            }

            #post {
                padding: 6px;
                font-size: 1.2rem;
                margin-right: 12px;
                color: var(--texto2);
            }
        }

        .tasks {
            border-radius: 6px;
            min-height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            ul {
                .task {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 0.8rem;
                    padding: 16px;
                    border-bottom: 1px solid var(--detalhe);
                    cursor: pointer;
                    color: var(--texto2);

                    &.over {
                        border: 1px solid var(--detalhe);
                    }

                    div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .checa {
                            margin-right: 1rem;
                        }
                    }

                    .close {
                        padding: 10px;
                        background: url("../img/icon-cross.svg") no-repeat center;
                        background-size: 70%;
                        visibility: hidden;
                        opacity: 0;
                        transition: 0.3s ease-in-out;
                    }

                    &:hover {
                        color: var(--texto);

                        .close {
                            visibility: visible;
                            opacity: 1;
                            transition: 0.3s ease-in-out;
                        }

                        .checa {
                            border: double 2px transparent;
                            background-image: linear-gradient(var(--fundolista), var(--fundolista)),
                                radial-gradient(circle at top left, #57ddff, #c058f3);
                            background-origin: border-box;
                            background-clip: content-box, border-box;
                        }
                    }

                    &.completo {
                        text-decoration: line-through;
                    }

                    &.completo:hover {
                        .checa {
                            background: linear-gradient(#57ddff, #c058f3);
                            border: none;

                            &::after {
                                position: absolute;
                                content: url("../img/icon-check.svg");
                                width: 10px;
                                top: 50%;
                                left: 50%;
                                margin-left: -5px;
                                margin-top: -6px;
                            }
                        }
                    }
                }
            }

            .clear {
                padding: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.8rem;
                color: var(--texto2);

                @media only screen and (min-width: 768px) {
                    padding: 16px 32px;
                }

                button {
                    font-size: 0.8rem;
                    color: var(--texto2);
                    padding: 6px 0;

                    &:hover {
                        color: var(--texto);
                    }
                }
            }
        }
    }
}
