#todo {
    .container {
        flex-direction: column;

        .tasksUl {
            width: 220px;
            margin-bottom: 1.2rem;
            select {
                margin: 0;
                background: var(--fundolista);
                border-color: var(--texto2);
                background-image: linear-gradient(45deg, transparent 50%, var(--texto2) 50%),
                    linear-gradient(135deg, var(--texto2) 50%, transparent 50%);
                background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
                background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
                background-repeat: no-repeat;
            }
        }

        .tasks {
            border-radius: 6px;
            height: 250px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: var(--fundolista);

            ul {
                overflow-y: auto;

                &::-webkit-scrollbar-track {
                    background: var(--fundolista);
                }

                &::-webkit-scrollbar-thumb {
                    border: 1px solid var(--fundolista);
                }

                .task {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    padding: 16px;
                    border-bottom: 1px solid var(--detalhe);
                    cursor: pointer;
                    color: var(--texto2);
                    width: 100%;


                    &.over {
                        border: 1px solid var(--detalhe);
                    }

                    div {
                        display: flex;
                        align-items: center;
                        width: calc(100% - 20px);

                        p {
                            max-width: 85%;
                            word-wrap: break-word;
                        }

                        .checa {
                            margin-right: 1rem;
                        }
                    }

                    .close {
                        padding: 10px;
                        background: url("../img/icon-cross.svg") no-repeat center;
                        background-size: 70%;
                    }

                    &:hover {
                        color: var(--texto);

                        .checa {
                            border: double 2px transparent;
                            background-image: linear-gradient(var(--fundolista), var(--fundolista)),
                                radial-gradient(circle at top left, #57ddff, #c058f3);
                            background-origin: border-box;
                            background-clip: content-box, border-box;
                        }
                    }

                    &.completo {
                        text-decoration: line-through;
                        filter: brightness(70%);
                        transition: all 0.3s ease-in-out;

                        &.move {
                            filter: brightness(80%);
                            transition: all 0.3s ease-in-out;
                        }
                    }

                    &.completo:hover {
                        .checa {
                            background: linear-gradient(#57ddff, #c058f3);
                            border: none;

                            &::after {
                                position: absolute;
                                content: url("../img/icon-check.svg");
                                width: 10px;
                                top: 50%;
                                left: 50%;
                                margin-left: -5px;
                                margin-top: -6px;
                            }
                        }
                    }
                }
            }

            .clear {
                padding: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.8rem;
                color: var(--texto2);
                font-family: $josefin;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);

                @media only screen and (min-width: 768px) {
                    padding: 16px 32px;
                }

                button {
                    font-size: 0.9rem;
                    color: var(--texto2);
                    padding: 6px 0;
                    font-family: $josefin;

                    &:hover {
                        color: var(--texto);
                    }
                }
            }
        }
    }
}
